<section class="hmv-section">
    <div class="container">
        <div class="row home-mission-vision">

            <div class="col-sm-12 col-md-6">
                    <app-section-header sectionHeaderText="Our Mission"></app-section-header>
                   <app-textbox>
                       <p ><Span class="first-word">O</Span>ur While using this site, you agree to have read and accepted our terms of use, cookie and privacy policy. Copyright 1999-2019 by Refsnes Data. All Rights Reserved. Powered by W3.CSS.</p>
                   </app-textbox>
            </div>
            <div class="col-sm-12 col-md-6">
                    <app-section-header sectionHeaderText="Our Vision"></app-section-header>
                    <app-textbox>
                            <p ><Span class="first-word" >O</Span>ur While using this site, you agree to have read and accepted our terms of use, cookie and privacy policy. Copyright 1999-2019 by Refsnes Data. All Rights Reserved. Powered by W3.CSS.</p>
                        </app-textbox>
    
            </div>
             
        
            
        </div>
    </div>
</section>
