<section class="hv-section">
   <div class="container">
        <div class="row home-values">

                <div class="col-sm-12 ">
                        <app-section-header sectionHeaderText="Our Core Values"></app-section-header>
                        <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-3">
                                        <app-card headColor="crimson">
                                                <i class="fas fa-check-circle fa-3x head" style="color: lightskyblue;" ></i>
        
                                                <p class="body"><span>Respect </span>
                                                        - we do un have respect blah blah blah.
                                                </p>
                                        </app-card>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-3">
                                        <app-card headColor="green">
                                                <i class="fas fa-check-circle fa-3x head" style="color: yellow;"></i>
        
                                                <p class="body"><span>Respect </span>
                                                        - we do un have respect blah blah blah.
                                                </p>
                                        </app-card>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-3">
                                        <app-card headColor="lightskyblue">
                                                <i class="fas fa-check-circle fa-3x head" style="color: green;"></i>
        
                                                <p class="body"><span>Respect </span>
                                                        - we do un have respect blah blah blah.
                                                </p>
                                        </app-card>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-3">
                                        <app-card headColor="yellow">
                                                <i class="fas fa-check-circle fa-3x head" style="color: crimson;"></i>
        
                                                <p class="body"><span>Respect </span>
                                                        - we do un have respect blah blah blah.
                                                </p>
                                        </app-card>
                                </div>
                        </div>
                </div>
        
        
        
        
        </div>
</div>     
</section>

